@import url('https://fonts.googleapis.com/css?family=Roboto');

*, *:before, *:after {
    vertical-align: baseline;
    font-family: inherit;
    font-style: inherit;
    font-size: 98%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: inherit;
}
body {
    font-family: 'Roboto', sans-serif;
}
html {
    box-sizing: border-box;
}
@media (max-width: 750px) {
  body {
    font-weight: 300;
  }
}